{% extends 'restaurants/base.html' %}
{% block content %}
        <h1 class="text-center">
            Strona internetowa utworzona w celu opracowania tematu pracy inżynierskiej - <br>
            <b>
                <i>
                    "Opracowanie oraz implementacja systemu zamawiania posiłków z wykorzystaniem kodów QR"
                </i>
            </b>
        </h1>
        <h3 class="text-right">
            <b>Autor:</b> <i>Tomasz Wańczyk</i>
        </h3>

        <h4 class="text-right">
            Wydział Inżynierii Metali i Informatyki Przemysłowej <br>
            Edukacja Techniczno-Informatyczna
        </h4>
{% endblock %}