{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'restaurants/main.css' %}">

    {% if title %}
        <title>Student zamawia - {{ title }}</title>
    {% else %}
        <title>Student zamawia</title>
    {% endif %}

</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-light bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'restaurants-index' %}"><b>Student zamawia</b></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="#">O stronie</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
            {% if request.cart.count > 0 %}
                <a class="nav-item nav-link" style="color:#00693C" href="{% url 'orders-cart' %}"><b>Koszyk({{ request.cart.count }})</b></a>
            {% else %}
                <a class="nav-item nav-link" href="{% url 'orders-cart' %}"><b>Koszyk</b></a>
            {% endif %}
                {% if user.is_authenticated %}
                    {% if user.is_superuser or user.is_staff %}
                        <a class="nav-item nav-link" href="{% url 'admin:index' %}">Panel administracyjny</a>
                    {% endif %}
                    <a class="nav-item nav-link" href="{% url 'users-address_list' %}">Moje konto</a>
                    <a class="nav-item nav-link" href="{% url 'users-orders' user.email %}">Zamówienia</a>
                    <a class="nav-item nav-link" href="{% url 'users-logout' %}">Wyloguj się</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'users-login' %}">Logowanie</a>
                    <a class="nav-item nav-link" href="{% url 'users-register' %}">Rejestracja</a>

                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">

      <div class="row">
        <div class="col-md-8">
          {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                  </div>
              {% endfor %}
          {% endif %}

        </div>


        <!--<div class="col-md-4">
          <div class="content-section">
            <h3>Menu</h3>
            {% if user.is_authenticated %}
            <p class='text-muted'>Dostępne opcje:
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a href="#">Złóż zamówienie</a></li>
                <li class="list-group-item list-group-item-light"><a href="#">Historia zamówień</a></li>
              </ul>
            </p>
            {% else %}
            <p class='text-muted'>Zaloguj się aby odblokować menu.</p>
            {% endif %}
          </div>
        </div> -->

      </div>
    {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <span>©Tomasz Wańczyk</span>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>