{% extends 'restaurants/base.html' %}
{% block content %}
    <article class="content-section">
        <h3>{{ food_detail.name }}</h3>
        <hr>
            <div style="float:left">
                Cena: {{ food_detail.price }} zł <br>
                {{ food_detail.description }} <br>
                <a href="{% url 'orders-add_to_cart' %}?food_id={{ food_detail.id }}">Dodaj do koszyka</a><br>
                <img class="img-fluid" src="{{ food_detail.qr_code.url }}">
            </div>
             <div style="float:right">
                {% for image in food_detail.foodimage_set.all%}
                    <img class="img-fluid img-thumbnail"  src="{{ image.thumbnail.url }}" alt="FoodImage">
                {% endfor %}
            </div>
            <div style="clear:both"></div>
    </article>

{% endblock %}
