{% extends 'restaurants/base.html' %}
{% block content %}
    <div class="content-section">
    <span>
        <h1 class="display-1 text-center">Witaj na Student zamawia!</h1>
    </span>

        <h1 class="text-center">
            Nasz serwis oferuje wiele potraw oraz dostarcza je na terenie całego Krakowa.
        </h1>
        <h3 class="text-center">Napewno znajdziesz coś dla siebie.</h3>
        <h5 class="text-center">
            <small class="text-muted">Kliknij link poniżej aby skorzystać z naszej oferty</small>
        </h5>
        <h1 class="display-4 text-center">
           <b><a href="{% url 'restaurants-list' %}">Lista restauracji</a></b>
        </h1>
    </div>

{% endblock %}