{% extends 'restaurants/base.html' %}
{% block content %}
    {% for restaurant in restaurants %}
        <article class="media content-section">
        <div class="media-body">
            <h2>
                <a class="article-title" href="{% url 'restaurant-foods' restaurant.slug %}">{{ restaurant.name }}</a>
            </h2>
                <div class="article-content">
                    {{ restaurant.address }}
                </div>
        </div>

        </article>
    {% endfor %}
{% endblock %}