{% extends 'restaurants/base.html' %}
{% block content %}

    <article class="media content-section">
        <div class="media-body">
        {% for food in foods %}
            {% if forloop.first %} <!-- display restaurant name only once -->
                <h1>{{ food.restaurant.name }}</h1>
            {% endif %}
                <p>
                    <strong>
                        <a href="{% url 'food-detail' food.slug %}">{{ food.name }}</a>
                    </strong>
                <br>
                    Kategoria:
                    {% for category in food.category.all %}
                        {{ category }}
                    {% endfor %}
                <br>
                    Cena:<i> {{ food.price }}</i>
                    <a href="{% url 'orders-add_to_cart' %}?food_id={{ food.id }}">Dodaj do koszyka</a>
                </p>
            <hr>
        {% endfor %}
        <br>
        <hr>
        <a href="{% url 'restaurants-index' %}">Powrót</a>
        </div>
    </article>
{% endblock %} %}