{% extends 'restaurants/base.html' %}
{% block content %}
    <article class="content-section">
    {% for food in foods %}
        {% if forloop.first %} <!-- display restaurant name only once -->
            <h1>{{ food.restaurant.name }}</h1>
            <span>
                <h3>Pyszne potrawy dla studentów i nie tylko!</h3>
                <h4>{{ food.restaurant.city }}, {{ food.restaurant.address }}</h4>
            </span>
        {% endif %}
        <hr>
        <h2 class="text-center"><a href="{% url 'food-detail' food.slug %}">{{ food.name }}</a></h2>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-">
                    {% for img in food.foodimage_set.all %}
                        <img class="img-fluid img-thumbnail" src="{{ img.thumbnail.url }}" alt="product thumbnail">
                    {% endfor %}
                </div>
                <div class="col-md" style="align-self:center">
                    Kategoria:{% for category in food.category.all %} {{ category }} {% endfor %}<br>
                    {{ food.description|linebreaks }}
                </div>
                <div class="col-">
                    {% if food.qr_code %}
                        <img class="img-fluid" src="{{ food.qr_code.url }}" alt="qrcode">
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-end">
                <a class="btn btn-success mt-2" href="{% url 'orders-add_to_cart' %}?food_id={{ food.id }}">Dodaj do koszyka {{ food.price }} zł</a>
            </div>
        </div>
    {% endfor %}
    </article>
{% endblock %} %}