{% extends 'restaurants/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
            <h2>Koszyk</h2>
            {% if formset %}
                <h3>Twoje produkty:</h3>
                    <form method="POST">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        <div class="container">
                            {% for form in formset %}
                                <div class="row align-items-center">
                                    <div class="col">
                                            {{ form.instance.food.name }}
                                            <p class="text-muted">{{ form.instance.food.price }} zł</p>
                                    </div>
                                    <div class="col-3">
                                         {{ form|crispy }}
                                    </div>
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-success btn-sm">Zapisz zmiany</button>
                        </div>
                    </form>
                <hr>
                    <b>Całkowita wartość zamówienia: {{ request.cart.get_total_price }} zł</b><br>
                    {% if user.is_authenticated %}
                        <a href="{% url 'users-address_select' %}" class="btn btn-success btn-sm text-center">Złóż zamówienie</a><br>
                    {% else %}
                        <p>Aby dokończyć składanie zamówienia musisz się zalogować</p>
                        <a href="{% url "users-register" %}?next={% url 'users-address_select' %}" class="btn btn-success btn-sm">Zarejestruj się</a>
                        <a href="{% url "users-login" %}?next={% url 'users-address_select' %}" class="btn btn-success btn-sm">Zaloguj się</a>
                    {% endif %}
                {% else %}
                    <p>Twój koszyk jest pusty</p>
                {% endif %}
                <a href="{% url 'restaurants-list' %}">Dodaj produkty do koszyka</a>
    </div>
{% endblock content%}