{% extends 'restaurants/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
    <h2>Koszyk</h2>
    {% if formset %}
        <h3>Twoje produkty:</h3>
        <form method="POST">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <p>
                    <b>Produkt: {{ form.instance.food.name }}</b>
                </p>
                <p>
                    Cena: {{ form.instance.food.price }}
                </p>
                {{ form|crispy }}
            {% endfor %}
            {{ form.instance.count }}
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
        <hr>
        {% if user.is_authenticated %}
            <a href="{% url 'users-address_select' %}" class="btn btn-primary">Złóż zamówienie</a>
        {% else %}
            <p>Aby dokończyć składanie zamówienia musisz się zalogować</p>
            <a href="{% url "users-register" %}?next={% url 'users-address_select' %}" class="btn btn-primary">Zarejestruj się</a>
            <a href="{% url "users-login" %}?next={% url 'users-address_select' %}" class="btn btn-primary">Zaloguj się</a>
        {% endif %}
        </form>
    {% else %}
        <p>Twój koszyk jest pusty</p>
    {% endif %}
    </div>
{% endblock content%}