{% extends 'restaurants/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
    <h2>Koszyk</h2>
    {% if formset %}
        <h3>Twoje produkty:</h3>
        <form method="POST">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <b>Produkt: {{ form.instance.food.name }}</b> <br>
                Cena: {{ form.instance.food.price }}
                {{ form|crispy }}
            {% endfor %}
            <button type="submit" class="btn btn-success btn-sm">Zapisz zmiany</button>
        </form>
        <hr>
            {% if user.is_authenticated %}
                <div>
                    <b>Całkowita wartość zamówienia: {{ request.cart.get_total_price }} zł</b>
                </div>
                <a href="{% url 'users-address_select' %}" class="btn btn-success btn-sm text-center">Złóż zamówienie</a>
            {% else %}
                <p>Aby dokończyć składanie zamówienia musisz się zalogować</p>
                <a href="{% url "users-register" %}?next={% url 'users-address_select' %}" class="btn btn-success btn-sm">Zarejestruj się</a>
                <a href="{% url "users-login" %}?next={% url 'users-address_select' %}" class="btn btn-success btn-sm">Zaloguj się</a>
            {% endif %}
    {% else %}
        <p>Twój koszyk jest pusty</p>
    {% endif %}
    </div>
{% endblock content%}