{% extends "restaurants/base.html" %}
{% block content %}
    <h1>Szczegóły zamówienia :</h1>
    <div class="content-section">
        {% if order_details %}
            <table class="table">
              <tr>
                <th scope="col">Produkt</th>
                <th scope="col">Cena</th>
              </tr>
            {% for order in order_details %}
              <tr>
                    <td>{{ order.product.name }}</td>
                    <td>{{ order.product.price }}</td>
              </tr>
            {% endfor %}
            </table>
        {% else%}
            <p>Ups... Pusto</p>
        {% endif %}
    </div>
{% endblock content %}