{% extends "restaurants/base.html" %}
{% block content %}
    <div class="content-section">
       <h1>Szczegóły zamówienia :</h1>
        {% if order_details %}
            <table class="table">
              <tr">
                <th scope="col">Produkt</th>
                <th scope="col">Cena</th>
                <th scope="col">Dodatkowe informacje o produkcie</th>
              </tr>
            {% for order in order_details %}
              <tr>
                    <td style="vertical-align: middle">{{ order.product.name }}</td>
                    <td style="vertical-align: middle">{{ order.product.price }}</td>
                    <td style="vertical-align: middle"><img class="mini-qr" src="{{ order.product.qr_code.url }}"></td>
              </tr>
            {% endfor %}
            </table>
        {% else%}
            <p>Ups... Pusto</p>
        {% endif %}
    </div>
{% endblock content %}