{% extends 'restaurants/base.html' %}
{% block content %}
    <h1>Statystyki zamówień dla dzielnic Krakowa:</h1>
    <h5>
        <small class="text-muted">Wyświetlane są tylko dzielnice z których zostały złożone zamówienia</small>
    </h5>

     <table class="table">
          <tr>
            <th scope="col">Dzielnica Krakowa</th>
            <th scope="col">Ilość zamówień</th>
          </tr>

        {% for order in orders %}
          <tr>
            <td>{{ order.city_district }}</td>
            <td>{{ order.id__count }}</td>
          </tr>
        {% endfor %}

    </table>

{% endblock %}