body {
  background: #f3f3f3;
  color: #333333;
  margin-top: 5rem;
  margin-bottom :5rem;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color:#FFFFFF;
  text-align:right;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #1e1e1e;
  cursor:default;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

a {
  color: #1e1e1e;
}

a:hover {
  color: #A71930;
}

.bg-steel {
  background-color: #fafafa;
}

.navbar-light .navbar-brand {
  color: #00693C;
}

.navbar-light .navbar-brand:hover {
    color: #A71930;
}

.site-header .navbar-nav .nav-link {
  color: #1e1e1e;
}

.site-header .navbar-nav .nav-link:hover {
  color: #A71930;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #fafafa;
  padding: 10px 20px;
  /*border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;*/
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #00693C;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.btn-outline-info{
  background-color:#A71930;
  color:#FFFFFF;
  border: 1px solid rgba(0,0,0,.1);
  padding:2px;
}

.btn-primary{
  background-color:#00693C;
  border-color: rgba(0,0,0,.1);
  color:#FFFFFF;
}
.btn-primary:hover{
  background-color:#A71930;
  border-color: rgba(0,0,0,.1);
  color:#FFFFFF;
}

.btn-outline-info:hover{
  background-color:#00693C;
  cursor:pointer;
}

.qr-code-thumbnail{
  width:150px;
  height:150px;
  border: 1px solid rgba(0,0,0,.1);
  float:right;
}