body {
  background-color: #f3f3f3;
  background-image: url("tomatoes-321671_1920.jpg");
  color: #1c1c1c;
  margin-top: 5rem;
  margin-bottom :5rem;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color:#FFFFFF;
  text-align:right;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #1e1e1e;
  cursor:default;
}

/*
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
 */
ul {
  margin: 0;
}

a {
  color: #00693C;
}

a:hover {
  color: #A71930;
  text-decoration: none;
}

.bg-steel {
  background-color: #fafafa;
}

.navbar-light .navbar-brand {
  color: #00693C;
}

.navbar-light .navbar-brand:hover {
    color: #A71930;
}

.site-header .navbar-nav .nav-link {
  color: #1e1e1e;
}

.site-header .navbar-nav .nav-link:hover {
  color: #A71930;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #fafafa;
  opacity:0.95;
  padding: 10px 20px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius:5px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #00693C;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}


.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.account-heading {
  font-size: 2.5rem;
}

.alert-info {
  color:white;
  background-color: rgba(0, 105, 60, 0.71);
  border-color:#00693C;
}

.btn-outline-info{
  background-color:#A71930;
  color:#FFFFFF;
  border: 1px solid rgba(0,0,0,.1);
  padding:2px;
}

.btn-success{
  background-color:#00693C;
  border-color: rgba(0,0,0,.1);
  color:#FFFFFF;
}
.btn-success:hover{
  background-color:#00b669;
  border-color: rgba(0,0,0,.1);
  color:#FFFFFF;
}

.btn-outline-info:hover{
  background-color:#00693C;
  cursor:pointer;
}

.qr-code-thumbnail{
  float:right;
  width:125px;
  height:125px;
  align-self: center;
}

.order-detail{
  color: #003366;
}

.order-detail:hover{
  color: #00693C;
  text-decoration: none;
}

.table{
  table-layout: fixed;
  width: 100%;
}

th,td {
    word-wrap:break-spaces;
}

.items{
  margin:auto;
}


/*inputs and forms */
.form-control:focus {

  box-shadow: 0 0 0 0.2rem #00b669;
}
